@model IEnumerable<AutoService.Models.Repair>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </th>
        <th>
            WarrantyDuration
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.StartDate.ToString("dd/MM/yyyy")
        </td>
        <td>
            @(item.EndDate.HasValue ? item.EndDate.Value.ToString("dd/MM/yyyy") : "No date")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warranty.Duration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RepairID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RepairID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RepairID })
        </td>
    </tr>
}

</table>
