@model AutoService.Models.DocumentLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocumentLine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DemandDocument.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DemandDocument.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Part.PartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part.PartName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
